body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Helvetica, sans-serif;
}
header {
  background-color: #ffe4c4;
  border-bottom: 4px inset #ffe4c4;
  color: rgba(249, 76, 76, 0.98);
  max-width: 100vw;
}
header > .inner {
  padding:1em 1em;
}
h1 {
  font-size: 2em;
}
#mitsu {
  height:auto;
  width:100%;
}
nav ul li {
  display:inline;
  padding:2em;
}
nav {
  text-align:center;
  max-width: 100vw;
}
nav a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 6px;
}
nav a:hover {
	border-bottom: 3px solid #ff4040;
}
.featured h1, h2{

  font-weight: 600;
  line-height: 1.3em;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: table;
  clear: both;
}
.subscribe ul li {
  list-style: none;
}
.subscribe {
  background-color: grey;
  padding: 1em;
}

@media (min-width: 32em) {
.main {
  width: 66.66%;
  float: left;
}
}
.sidebar {
  padding:1em;

}
@media (min-width: 32em) {
.sidebar {
  float: right;
  width: 33.33%;
}
}
.inner {
  padding: 1em;
}

label {
  font-weight: bold;
  font-size: 1em;
}
footer {
  clear: both
}
