body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
}
header {
  background-color: rgba(244, 186, 54, 0.62);
  border-bottom: 4px inset #ffe4c4;
  color: rgba(249, 76, 76, 0.98);
  text-align: center;
}
header > .inner {
  padding:2em 2em;
}
h1 {
  font-size: 2em;
}
nav ul li {
  display:inline;
  padding:2em;
}
nav {
  text-align:center;
}
nav a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 6px;
}
nav a:hover {
	border-bottom: 3px solid #ff4040;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.subscribe ul li {
  list-style: none;
}
.subscribe {
  background-color: grey;
  padding: 1em;
}


.main {
  width: 66.66%;
  float: left;
}
.sidebar {
  width: 33.33%;
  float: left;
  padding:1em;

}
.inner {
  padding: 1em;
}
#Mitsu {
  width:30vw;
}
label {
  font-weight: bold;
  font-size: 1em;
}
footer {
  clear: both
}
