* {
  box-sizing: border-box;
}

.blog-home {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
}
header {
  background-color: #000000;
  border-bottom: 4px inset #ffe4c4;
  color: #ff4040;
  text-align: center;
}
header > .inner {
  padding:1em 2em;
}
h1 {
  font-size: 2em;
}
nav ul li {
  display:inline;
  padding:2em;
}
nav {
  text-align:center;
}
nav a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 6px;
}
nav a:hover {
	border-bottom: 3px solid #ff4040;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.subscribe ul li {
  list-style: none;
}
.subscribe {
  background-color: grey;
  padding: 5px;
}


.main {
  width: 66.66%;
  float: left;
}
.sidebar {
  width: 33.33%;
  float: left;
  padding:10px;

}
.inner {
  padding: 10px
}
label {
  font-weight: bold;
  font-size: 1em;
}
footer {
  clear: both
}
